.backgroundContainer {
    background-color: var(--bg-color-one);
    color: #fff;
}

.serviceSubheader {
    color: #fff;
    margin-bottom: 15px;
}

.serviceHeading {
    font-size: 1.5rem;
}

.serviceContentWrapper {
    background: 
        linear-gradient(180deg, #060606ee 0%, #0f0f10e9 100%),
        url(../../../public/images/noisebackground.jpg) no-repeat center / cover;
    padding: 20px;
}

.serviceHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serviceImage {
    width: 50px;
    height: auto;
}

.servicePagination {
    color: #fff;
}

.serviceBody {
    margin-top: 15px;
}

.serviceBodyText {
    font-size: 1.4em;
    margin-bottom: 1.4em;
}

.serviceFeatures {
    display: flex;
    gap: 10px;

    flex-direction: column;

    /* background-color: orangered; */
} 

.serviceFeatures:first-of-type {
    margin-bottom: 10px;
}

.serviceFeatureItem {
    display: flex;
    gap: 10px;
}

.serviceFeatureItem p {
    font-size: 1.2em;
}

.serviceFeatureIcon {
    width: 15px;
    height: auto;
}


.serviceButton {
    background-color: #075BF7;
    padding: 20px 10px;
    border-left: 3px solid #fff;
    font-size: 1.4em;
    font-weight: 600;
    text-align: left;
    width: 100%;
}

.serviceButton2 {
    display: none;
}

@media (min-width: 768px) {

    .container {
        display: flex;
        align-items: flex-end;
    }

    .serviceContentWrapper {
        padding: 40px;
        /* width: 80%; */
    }

    .serviceButton {
        width: 40%;
    }

    .serviceButton2 {
        display: block;
        visibility: hidden;
    }
    
}

@media (min-width: 1024px) {
    .serviceHeading {
        font-size: 2.25rem;
    }

    .serviceContentWrapper {
        padding: 60px;
        margin-top: 36px;
    }

    .serviceBodyText {
        font-size: 2.4em;
    }

    .serviceFeatures {
        flex-direction: row;
        gap: 20px;
    }

    
    .serviceFeatureItem p,
    .serviceButton {
        font-size: 1.3em;
    }

    .serviceButton {
        width: 50%;
    }
}
