.subheader {
    font-family: "JetBrains Mono", monospace;
  font-size: 0.75rem; /* text-xs */
  text-transform: uppercase;
  letter-spacing: 0.1em; /* tracking-widest */
  color: rgb(107 114 128); /* text-gray-500 */
  margin: 0;
  padding: 0;
  line-height: 1;
}
